<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>test</title>
    </head>
    <body>
    <table border="1">
        <form action="/bili" method="post">
            {% csrf_token %}
            <p><input type="submit" value="提交"/></p>
        </form>
        <thead>
        <tr>
            <td>类型名</td>
            <td>比例</td>
            <td>类别名</td>
            <td>比例</td>
            <td>类别名</td>
            <td>比例</td>
        </tr>
        </thead>
            <tr>
                <td>{{form}}</td>
                <td>{{form2}}</td>
                <td>{{form3}}</td>
                <td>{{form4}}</td>
                <td>{{form5}}</td>
                <td>{{form6}}</td>
            </tr>
    </table>
    </body>

</html>
