<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="../static/js/echarts.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1000px;height:800px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var List = {{ List|safe }};
        // 指定图表的配置项和数据
        var option = {
    	tooltip: {
        	trigger: 'item',
        	formatter: "{a} <br/>{b}: {c} ({d}%)"
    	},
    	legend: {
        	orient: 'vertical',
			x: 'left',
        	data:['处置中','超期结办','按期结办','处置中-问题类型','超期结办-问题类型','按期结办-问题类型'],
			selected:{'处置中-问题类型':false,'超期结办-问题类型':false,'按期结办-问题类型':false}
		},
    	series: [
        	{
				name:'当前状态',
				type:'pie',
				selectedMode: 'single',
            	radius: [0, '30%'],
				
            	label: {
					normal: {
						position: 'inner'
					}
				},
            	labelLine: {
                	normal: {
                    	show: false
                	}
            	},
            	data:[
                	{value:(List[0]+List[1]+List[2]+List[3]), name:'处置中', selected:false},
					{value:(List[4]+List[5]+List[6]+List[7]), name:'超期结办'},
                	{value:(List[8]+List[9]+List[10]+List[11]), name:'按期结办'}
            	]	
        	},
        	{
            	name:'处置中-问题类型',
            	type:'pie',
            	radius: ['40%', '55%'],
				label: {
                	normal: {
                    	formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                    	backgroundColor: '#eee',
                    	borderColor: '#aaa',
                    	borderWidth: 1,
                    	borderRadius: 4,
                    	// shadowBlur:3,
                    	// shadowOffsetX: 2,
                    	// shadowOffsetY: 2,
                    	// shadowColor: '#999',
						// padding: [0, 7],
                    	rich: {
                        	a: {
                            	color: '#999',
                            	lineHeight: 22,
                            	align: 'center'
                        	},	
                        	// abg: {
                        	//     backgroundColor: '#333',
                        	//     width: '100%',
                        	//     align: 'right',
							//     height: 22,
                        	//     borderRadius: [4, 4, 0, 0]
                        	// },
                        	hr: {
								borderColor: '#aaa',
                            	width: '100%',
                            	borderWidth: 0.5,
                            	height: 0
                        	},	
							b: {
                            	fontSize: 16,
                            	lineHeight: 33
							},
                        	per: {
								color: '#eee',
                            	backgroundColor: '#334455',
                            	padding: [2, 4],
                            	borderRadius: 2
							}
                    	}
                	}
            	},
            	data:[
					{value:List[0], name:'市容环卫'},
                	{value:List[1], name:'环保水务'},
                	{value:List[2], name:'市政设施'},
                	{value:List[3], name:'其他'}
            	]	
        	},
			{
            	name:'超期结办-问题类型',
            	type:'pie',
            	radius: ['40%', '55%'],
				label: {
                	normal: {
                    	formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                    	backgroundColor: '#eee',
                    	borderColor: '#aaa',
                    	borderWidth: 1,
                    	borderRadius: 4,
                    	// shadowBlur:3,
                    	// shadowOffsetX: 2,
                    	// shadowOffsetY: 2,
                    	// shadowColor: '#999',
						// padding: [0, 7],
                    	rich: {
                        	a: {
                            	color: '#999',
                            	lineHeight: 22,
                            	align: 'center'
                        	},	
                        	// abg: {
                        	//     backgroundColor: '#333',
                        	//     width: '100%',
                        	//     align: 'right',
							//     height: 22,
                        	//     borderRadius: [4, 4, 0, 0]
                        	// },
                        	hr: {
								borderColor: '#aaa',
                            	width: '100%',
                            	borderWidth: 0.5,
                            	height: 0
                        	},	
							b: {
                            	fontSize: 16,
                            	lineHeight: 33
							},
                        	per: {
								color: '#eee',
                            	backgroundColor: '#334455',
                            	padding: [2, 4],
                            	borderRadius: 2
							}
                    	}
                	}
            	},
            	data:[
					{value:List[4], name:'市容环卫'},
                	{value:List[5], name:'环保水务'},
                	{value:List[6], name:'市政设施'},
                	{value:List[7], name:'其他'}
            	]	
        	},
			{
            	name:'按期结办-问题类型',
            	type:'pie',
            	radius: ['40%', '55%'],
				label: {
                	normal: {
                    	formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                    	backgroundColor: '#eee',
                    	borderColor: '#aaa',
                    	borderWidth: 1,
                    	borderRadius: 4,
                    	// shadowBlur:3,
                    	// shadowOffsetX: 2,
                    	// shadowOffsetY: 2,
                    	// shadowColor: '#999',
						// padding: [0, 7],
                    	rich: {
                        	a: {
                            	color: '#999',
                            	lineHeight: 22,
                            	align: 'center'
                        	},	
                        	// abg: {
                        	//     backgroundColor: '#333',
                        	//     width: '100%',
                        	//     align: 'right',
							//     height: 22,
                        	//     borderRadius: [4, 4, 0, 0]
                        	// },
                        	hr: {
								borderColor: '#aaa',
                            	width: '100%',
                            	borderWidth: 0.5,
                            	height: 0
                        	},	
							b: {
                            	fontSize: 16,
                            	lineHeight: 33
							},
                        	per: {
								color: '#eee',
                            	backgroundColor: '#334455',
                            	padding: [2, 4],
                            	borderRadius: 2
							}
                    	}
                	}
            	},
            	data:[
					{value:List[8], name:'市容环卫'},
                	{value:List[9], name:'环保水务'},
                	{value:List[10], name:'市政设施'},
                	{value:List[11], name:'其他'}
            	]	
        	},
		]	
		};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>